{% extends "base.html" %}

{% block content %}
<style>
    .vertical-menu{
        width: 200px;
        height: 98vh;
        overflow-y: auto;
    }
    .vertical-menu-moves{
        height: 40vh;
        overflow-y: auto;
    }
    .vertical-menu li {
        background-color: #eee; /* Grey background color */
        color: black; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
    }
    .pokemon-image {
        width: 300px;
    }
    #card{
        margin-left: 40px;
    }
</style>
<h1>Pokemons</h1>
<h2>{{version[0]}}</h2>
<div style="display: none;" id="version">{{version_name}}</div>
<div style="display: flex;">
    <div class="vertical-menu">
        <ul id="pokemon-list" class="list-group">
            {% for (name, id) in pokemons %}
            <li data-id="{{id}}"class="list-group-item">{{name.capitalize()}}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="card" class="card"></div>

    <div class="card" id="move-card"></div>
    
    <form action="/teams/create" method="POST">
            <input type="hidden" name="pokemon_version" value="{{version[1]}}">
            <div id="pokemon_1">
                <label for="pokemon_select_1">Pokemon 1</label>
                <select name="pokemon_1" id="pokemon_select_1">
                    {% for (name, id) in pokemons %}
                    <option data-id={{id}} value="{{name}} {{id}}">{{name}}</option>
                    {% endfor %}
                </select>
                <select name="pokemon_1_move_1" id="pokemon_1_move_1"></select>
                <select name="pokemon_1_move_2" id="pokemon_1_move_2"></select>
                <select name="pokemon_1_move_3" id="pokemon_1_move_3"></select>
                <select name="pokemon_1_move_4" id="pokemon_1_move_4"></select>
            </div>
            <div id="pokemon_2">
                <label for="pokemon_select_2">Pokemon 2</label>
                <select name="pokemon_2" id="pokemon_select_2">
                    {% for (name, id) in pokemons %}
                    <option data-id={{id}} value="{{name}} {{id}}">{{name}}</option>
                    {% endfor %}
                </select>
                <select name="pokemon_2_move_1" id="pokemon_2_move_1"></select>
                <select name="pokemon_2_move_2" id="pokemon_2_move_2"></select>
                <select name="pokemon_2_move_3" id="pokemon_2_move_3"></select>
                <select name="pokemon_2_move_4" id="pokemon_2_move_4"></select>
            </div>
            <div id="pokemon_3">
                <label for="pokemon_select_3">Pokemon 3</label>
                <select name="pokemon_3" id="pokemon_select_3">
                    {% for (name, id) in pokemons %}
                    <option value="{{name }} {{id}}">{{name}}</option>
                    {% endfor %}
                </select>
                <select name="pokemon_3_move_1" id="pokemon_3_move_1"></select>
                <select name="pokemon_3_move_2" id="pokemon_3_move_2"></select>
                <select name="pokemon_3_move_3" id="pokemon_3_move_3"></select>
                <select name="pokemon_3_move_4" id="pokemon_3_move_4"></select>
            </div>
            <div id="pokemon_4">
                <label for="pokemon_select_4">Pokemon 4</label>
                <select name="pokemon_4" id="pokemon_select_4">
                    {% for (name, id) in pokemons %}
                    <option data-id ={{id}} value="{{name}} {{id}}">{{name}}</option>
                    {% endfor %}
                </select>
                <select name="pokemon_4_move_1" id="pokemon_4_move_1"></select>
                <select name="pokemon_4_move_2" id="pokemon_4_move_2"></select>
                <select name="pokemon_4_move_3" id="pokemon_4_move_3"></select>
                <select name="pokemon_4_move_4" id="pokemon_4_move_4"></select>
            </div>
            <div id="pokemon_5">
                <label for="pokemon_select_5">Pokemon 5</label>
                <select name="pokemon_5" id="pokemon_select_5">
                    {% for (name, id) in pokemons %}
                    <option data-id={{id}} value="{{name}} {{id}}">{{name}}</option>
                    {% endfor %}
                </select>
                <select name="pokemon_5_move_1" id="pokemon_5_move_1"></select>
                <select name="pokemon_5_move_2" id="pokemon_5_move_2"></select>
                <select name="pokemon_5_move_3" id="pokemon_5_move_3"></select>
                <select name="pokemon_5_move_4" id="pokemon_5_move_4"></select>
            </div>
            <div id="pokemon_6">
                <label for="pokemon_select_6">Pokemon 6</label>
                <select name="pokemon_6" id="pokemon_select_6">
                    {% for (name, id) in pokemons %}
                    <option data-id={{id}} value="{{name}} {{id}}">{{name}}</option>
                    {% endfor %}
                </select>
                <select name="pokemon_6_move_1" id="pokemon_6_move_1"></select>
                <select name="pokemon_6_move_2" id="pokemon_6_move_2"></select>
                <select name="pokemon_6_move_3" id="pokemon_6_move_3"></select>
                <select name="pokemon_6_move_4" id="pokemon_6_move_4"></select>
            </div>
            <input type="Submit">
    </form>
</div>
<form action="/">
    <button>Return</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
{% endblock %}